*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
.name
{
    margin-left: 200px;
    margin-top: 30px;
}
.eg-mpl
{
    margin-left: 200px;
    font-size: 12px;
}
.reg-form
{
    padding: 10px;
    margin-left: 190px;
    margin-top: auto;

}
.full-name
{
    margin-top: -60px;
    margin-left: 100px;
}
.e-mail
{
    margin-left: 100px;  
    margin-top: -25px;
}
.password
{
    margin-left: 100px;  
    margin-top: -25px;
}
.birth
{
    margin-left: 100px;  
    margin-top: -25px;
}
.gender
{
    margin-left: 100px;  
    margin-top: -25px;
}
.woman
{
    margin-left: 50px;  
    margin-top: -25px;
}
.man
{
    margin-left: 30px;  
    margin-top: -25px;
}
.none
{
    margin-left: 30px;  
    margin-top: -25px;
}
.meal
{    margin-left: 100px;  
     margin-top: 15px;
}
.check-box
{
    margin-left: 213px;  
    margin-top: 10px;
}
.agree
{
    margin-left: 208px;  
    margin-top: 30px;
}
.country   
{
    margin-left: 100px;  
    margin-top: 30px;
}
.test
{
    margin-left: -3px;  
    margin-top: -80px;
}
.choose
{
    margin-left: 215px;  
    margin-top: -39px;
}

.register
{
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 208px;
    background-color: #0077ff;
    color: white;
    cursor: pointer;
}